<h1>CISC 499: Introduction to Game Design</h1>

<p>
	<strong>IMPORTANT: </strong> Please login to D2L prior to our first meeting on January 20, 2016 and complete the online orientation.
</p>

<table class="table">
	<tr>
		<td>Prerequisite:</td><td>None.</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			This is a 3 unit, 54 lecture hour introductory course in designing computer games. Students will explore the various genres of computer games, including hardware and mobile games. No programming skills are required, but students will configure preexisting computer game engines to explore concepts as level and game design. Students will need access to various types of computer games and electronic devices.<br><br>
			Students may want to bring their own laptop to class. 

		</td>
	</tr>


	<tr><td>E-mail</td><td><a href="mailto:AllenS@flc.losrios.edu">AllenS@flc.losrios.edu</a></td></tr>
	<tr><td>Classroom:</td><td>FLC MAIN FL5 109</td></tr>
	<tr><td>Course Dates:</td><td>January 20 - May 18</td></tr>
	<tr><td>Meeting Day/Times:</td><td>Wednesdays, 6:00pm - 9:05pm</td></tr>
	<tr>
		<td>Required Text:</td>
		<td><strong>Gibson, Jeremy.</strong> <em>Introduction to Game Design, Prototyping, and Development: From Concept to Playable Game with Unity and C#.</em> 1st ed. Pearson, 2014. <p></p>
		<img src="http://www.mypearsonstore.com/ShowCover.asp?isbn=0321933168&type=f" alt="Textbook" > 
		</td>
	</tr>
			
</table>