<h1>CISP 360: Introduction to Structured Programming</h1>

<p>
	<strong>IMPORTANT: </strong> Please login to D2L prior to our first meeting on March 15, 2016 and complete the online orientation.
</p>

<table class="table">
	<tr>
		<td>Prerequisite:</td><td>CISP 300 with a grade of "C" or better.</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			This course is an introduction to structured programming. The topics covered include: top-down design, input/output considerations, control structures and flow control, variables, constants, the use of libraries, simple to intermediate data structures, functions, and arguments. An introduction into objects will be included.<br><br>
			<strong>This is a hybrid course in which approximately half of the class is online.</strong> Students must have access to a computer and the Internet and have an active email address. The class will meet on campus during the times listed below. You may want to bring your own laptop to class.  We will be working in the lab each week.

		</td>
	</tr>

	
	<tr><td>E-mail</td><td><a href="mailto:AllenS@flc.losrios.edu">AllenS@flc.losrios.edu</a></td></tr>
	<tr><td>Classroom:</td><td>RCC1-121</td></tr>
	<tr><td>Course Dates:</td><td>March  15 - May 10</td></tr>
	<tr><td>Meeting Day/Times:</td><td>Tuesdays, 7:00pm - 10:00pm</td></tr>
	<tr><td>Office Hours:</td><td>Tuesdays, 6:00pm - 7:00pm, Room RCC1-145</td></tr>
	<tr>
		<td>Required Text:</td>
		<td><strong>Gaddis, Tony.</strong> <em>Starting Out with C++ from Control Structures to Objects.</em> 8th ed. Pearson, 2014. 
		<p>This text is packaged in several different ways, with a regular and brief edition.  Either edition will work. You
                           can purchase the paperback or online edition, with or without the access card.  The access card will provide additional
                           resourses, including video tutorials, and is optional.  Do not purchase the MyProgrammingLab add on.</p>
		<img src="http://www.mypearsonstore.com/ShowCover.asp?isbn=0133796337&type=f" alt="Textbook" > <em>- or -</em>
                      
		<img src="http://www.mypearsonstore.com/ShowCover.asp?isbn=0134037324&type=f" alt="Textbook" >

		</td>
	</tr>
			
</table>