<h1>Computer Information Science</h1>

<p><strong>Welcome! </strong> I've been teaching computer science courses for 9 years after working in industry for 16 years.  I am excited to have the opportunity to work with you. </p>

<p>Technology is everywhere.  Whatever your passion or major, you can incorporate computer science into any discipline. Computer science teaches you how to solve problems. Computer science is creative. Learning to build something that exists only in your mind is one of the biggest joys of being a computer scientist. Explore the possibilities and discover new ways of thinking about problems in any field you choose to pursue.</p>

<p>Get involved in the community of computer scientists.  Visit the Hacker Lab, create a digital portfolio on Porfolium, write an app and show the world what you can do!</p>
<p>Happy Coding!</p>
<p><em>Stephanie Allen</em></p>
<br/>
<div class="note">
<p><img src="images/quotes.png" width="35" height="25"><em>I think everyone in this country should learn to program a computer. Everyone should learn a computer language because it teaches you how to think." </em><p class="indent">~ Steve Jobs</p></p>
</div>

